DATABASE_URL="file:./prisma/cotecmar.db"
import xrlabLogoAZ from "../../assets/images/logoAZ.png";            className={`landing-brand-logo filter transition-all duration-500${isLightMode ? '' : 'brightness-0 invert'}`}  /* The color filter is now dynamically controlled from Tailwind in the JS */